#gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 20px);
    gap: 0; /* Remove gap between squares */
}

.square {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(131, 131, 131);
    background-color: white;
    transition: background-color 0.3s; 
    /*Smooth transition for hover effect */
}
.square:hover {
    background-color: rgba(red, green, blue, alpha);
}  
